@import "./normalize.css";
@import "./hover-min.css";
@import "./element-ui.scss";
@import "./transition.scss";
@import "./variable.scss";
@import "./theme.scss";
@import "./hover.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-background-base;
  min-width: 1200px;
}

body, ol, ul, li, h1, h2, h3, p, form {
  margin: 0;
  padding: 0;
}

// 文本禁止选中
.no-choose {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page {
  padding-top: 15px;
  width: 1200px;
  margin: 0 auto;

  article {
    display: inline-block;
    width: 900px;
    margin-right: 20px;
  }

  aside {
    display: inline-block;
    width: 280px;
    float: right;
  }
}

// 最后一个分割线不显示
ul {
  li:last-child {
    .el-divider--horizontal {
      display: none !important;
    }
  }
}

// 卡片标题
.card-title {
  color: $color-primary;
  font-size: 25px;
}

// 标签云卡片适配
.tag-box {
  .el-card__body {
    padding: 10px 0
  }
}
