@import "src/assets/style/element-ui.scss";
@import "src/assets/style/transition.scss";
@import "src/assets/style/variable.scss";
@import "src/assets/style/theme.scss";
@import "src/assets/style/hover.scss";
//@import "src/assets/style/theme/element-dark.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1200px;
}

body, ol, ul, li, h1, h2, h3, p, form {
  margin: 0;
  padding: 0;
}

// 切换页面加载进度条样式
#nprogress .bar {
  background: #74b9ff !important;
  height: 3px !important;
  border-radius: 3px;
}

// 文本禁止选中
.no-choose {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 页面主体布局
.page {
  padding-top: 15px;
  padding-bottom: 20px;
  width: 1200px;
  margin: 0 auto;
  min-height: 80vh;

  article {
    display: inline-block;
    width: 900px;
    margin-right: 20px;
  }

  aside {
    display: inline-block;
    width: 280px;
    float: right;
  }
}

// 最后一个分割线不显示
ul {
  li:last-child {
    .el-divider--horizontal {
      display: none !important;
    }
  }
}

// 卡片标题
.card-title {
  color: var(--el-color-primary);
  font-size: 25px;
}

// 标签云卡片适配
.tag-box {
  .el-card__body {
    padding: 10px 0
  }
}

// 您的位置面包屑
.current-position {
  background-color: var(--el-color-white);
  padding: 20px;
  display: flex;
  align-items: center;

  span:nth-child(1) {
    color: var(--el-text-color-regular);
  }
}

// 标签
.tag {
  border-radius: 5px;
  color: white;
  font-size: 10px;
  padding: 5px;
}

// 鼠标经过变为手形
.pointer {
  cursor: pointer
}
// 富文本编辑器暗黑模式适配
.w-e-text-container{
  background-color: var(--el-color-white)!important;
}
.w-e-toolbar{
  background-color: var(--el-background-color-base)!important;
}
// markdown暗黑模式适配
