//其他颜色
$color-other-turquoise: #1abc9c;
$color-other-green: #16a085;
$color-other-emerald: #2ecc71;
$color-other-nephritis: #27ae60;
$color-other-peter-river: #3498db;
$color-other-belize-hole: #2980b9;
$color-other-amethyst: #9b59b6;
$color-other-wisteria: #8e44ad;
$color-other-wet-asphalt: #34495e;
$color-other-midnight-blue: #2c3e50;
$color-other-sun-flower: #f1c40f;
$color-other-orange: #f39c12;
$color-other-carrot: #e67e22;
$color-other-pumpkin: #d35400;
$color-other-alizarin: #e74c3c;
$color-other-pomegranate: #c0392b;
$color-other-clouds: #ecf0f1;
$color-other-silver: #bdc3c7;
$color-other-concrete: #95a5a6;
$color-other-asbestos: #7f8c8d;
////导出颜色变量
//:export{
//  color-background-base: $color-background-base;
//}
